---
// Components
import RenderApps from "@/components/renders/RenderApps";
import Layout from "@/layouts/Layout.astro";

// Services
import { getApps } from "@/services/get-apps";

// Types
import type { AppWithLogo } from "@/types/app";

// Config
import { configureCloudinary } from "@/config/cloudinary";

configureCloudinary();

let apps: AppWithLogo[] | void = [];
let anErrorHasOccurred: boolean = false;

try {
	apps = await getApps();
} catch (error) {
	console.error(error);
	anErrorHasOccurred = true;
}
---

<Layout title="GetsMyApps">
	<main class="flex items-center justify-center">
		{
			!Array.isArray(apps) || anErrorHasOccurred ? (
				<h1 class="text-white text-center text-pretty">
					No apps available at the moment, please try again later.
				</h1>
			) : (
				<RenderApps apps={apps} client:load />
			)
		}
	</main>
</Layout>
