---
// Components
import Modal from '@/components/modal/Modal.astro'
import RenderApps from '@/components/renders/RenderApps.astro'
import Layout from '@/layouts/Layout.astro'

// Types
import type { AppWithOutID } from '@/types/app'

// API
import { GET } from './api/get-apps'

let apps: AppWithOutID[] | void = []
let anErrorHasOccurred: boolean = false

try {
  const res = await GET(Astro)

  apps = await res.json()
} catch (error) {
  anErrorHasOccurred = true
}

const isBrowserInSpanish = Astro.preferredLocale?.includes('es') ?? false
---

<Layout title="GetsMyApps">
  <main class="flex items-center justify-center">
    {
      isBrowserInSpanish && (
        <div id="dialog-container">
          <Modal language="es" />
        </div>
      )
    }
    {
      !Array.isArray(apps) || anErrorHasOccurred ? (
        <h1 class="text-white text-center text-pretty text-4xl font-sans m-4 shadow-md">
          No apps available at the moment, please try again later.
        </h1>
      ) : (
        <RenderApps apps={apps} i18nURL={Astro.url} />
      )
    }
  </main>
</Layout>
