<svg
  xmlns="http://www.w3.org/2000/svg"
  width="100%"
  height="100%"
  fill="none"
  stroke="currentColor"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2.5"
  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-down"
  viewBox="0 0 24 24"
>
  <title>See more applications</title>
  <path stroke="none" d="M0 0h24v24H0z"></path>
  <path d="M12 5v14m6-6-6 6m-6-6 6 6"></path>
</svg>
