---
// Astro
import { Image } from 'astro:assets'

// Utils
import { getLoadingStrategy } from '@/utils/loading'

interface Props {
  logoURL: string
  alternativeText: string
  index?: number
}

const { logoURL, alternativeText, index = 0 } = Astro.props

const userAgent = Astro.request.headers.get('user-agent') ?? ''

const loadingStrategy = getLoadingStrategy({
  userAgent,
  index
})
---

<div>
  <Image
    src={logoURL}
    alt={alternativeText}
    class="mx-auto m-3 flex items-center justify-center app-logo"
    width="125"
    height="125"
    decoding="async"
    loading={loadingStrategy}
  />
</div>
