---
// Components
import Modal from '@/components/modal/Modal.astro'
import RenderApps from '@/components/renders/RenderApps'
import Layout from '@/layouts/Layout.astro'

// Services
import { getApps } from '@/services/get-apps'

// Types
import type { AppWithOutID } from '@/types/app'

// Config
import { configureCloudinary } from '@/config/cloudinary'

// Logs
import { writeError } from '@/logs/logger'

configureCloudinary()

let apps: AppWithOutID[] | void = []
let anErrorHasOccurred: boolean = false

try {
  apps = await getApps()
} catch (error) {
  writeError(error)
  anErrorHasOccurred = true
}

const isBrowserInEnglish = Astro.preferredLocale?.includes('en') ?? false
---

<Layout title="GetsMyApps">
  <main class="flex items-center justify-center">
    {
      isBrowserInEnglish && (
        <div id="dialog-container">
          <Modal language="en" />
        </div>
      )
    }
    {
      !Array.isArray(apps) || anErrorHasOccurred ? (
        <h1 class="text-white text-center text-pretty text-4xl font-sans m-4 shadow-md">
          No hay aplicaciones disponibles en este momento, inténtelo más tarde.
        </h1>
      ) : (
        <RenderApps apps={apps} i18nURL={Astro.url} client:load />
      )
    }
  </main>
</Layout>
